/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* styles */
:root {
  --color-accent: #3882f6;
  --color-dark: #1f2937;
  --color-light: #f9faf8;
  --color-white: #e5e7eb;
  --ff-primary: "Roboto", sans-serif;
}

/* nav */
header {
  background: var(--color-dark);
  padding: 1em 5em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li a {
  color: var(--color-white);
  font-size: 1.125rem;
  padding: 0 0.8em;
}

.logo:hover, nav ul li a:hover {
  color: var(--color-accent);
}

.logo {
  color: var(--color-light);
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

/* hero */
.hero {
  background: var(--color-dark);
  color: var(--color-light);
}
