# weatherstack API key (https://weatherstack.com/)
WEATHER_STACK=YOUR_API_KEY

# positionstack API key (https://positionstack.com/)
POSITION_STACK=YOUR_API_KEY

# ipstack (https://ipstack.com/)
IP_STACK=YOUR_API_KEY
