*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, iframe {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --color-accent: 255, 204, 0;
  --color-accent-comp: 0, 255, 255;
  --color-dark: 68, 68, 68;
  --color-light: 255, 255, 255;
  --ff-primary: "Montserrat", sans-serif;
}

body {
  background-color: rgb(var(--color-dark));
  color: rgb(var(--color-light));
  font-family: var(--ff-primary);
  line-height: 1.5;
  text-align: center;
}

footer,
header,
section {
  padding: 0.7em;
}

/* header nav bar  */

.logo {
  color: rgb(var(--color-accent));
  font-weight: 700;
}

/* hero */

.hero-img, iframe {
  border: 0.5em solid rgb(var(--color-accent));
  box-shadow: 1em 1em rgb(var(--color-accent-comp));
}

.hero-img {
  margin: 1em auto;
  width: 80vw;
}

iframe {

}

form {
  padding: 0.5rem 0;
}

button {
  background-color: rgb(var(--color-accent));
  border: none;
  border-radius: 1rem;
  color: rgb(var(--color-dark));
  margin: 0.3em auto;
  padding: 0.2rem 1rem;
  transition: 0.5s;
}

button:hover {
  background-color: rgba(var(--color-accent), 0.9)
}

button:active {
  box-shadow: 0 5px rgb(var(--color-accent-comp));
  transition: none;
  transform: translateY(4px);
}

/* sections */

section li {
  font-size: 1.5rem;
}

.bi {
  color: rgb(var(--color-accent));
  font-size: 2rem;
  margin: 0 0.5em;
  vertical-align: middle;
}

footer {
  background-color: rgb(var(--color-accent));
  color: #000;
}

footer a {
  color: inherit;
  font-weight: 700;
}

footer a:hover{
  color: rgb(var(--color-light));
}

