/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* styles */
:root {
  --color-accent: #3882f6;
  --color-dark: #1f2937;
  --color-light: #f9faf8;
  --color-white: #e5e7eb;
  --ff-primary: "Roboto";
  --fs-body: 1.125rem;
  --fs-h2: 2.25rem;
  --fs-logo: 1.5rem;
  --fs-xl: 3rem;
}

body {
  font-family: var(--ff-primary), sans-serif;
}

.container {
  padding: 4rem 14rem;
}

/* set list items to one row */
li {
  display: inline-block;
}

/* add hover effect to links */
.logo, a:not([class]) {
  transition: 0.3s;
}

.logo:hover, a:not([class]):hover {
  color: var(--color-accent);
}

/* hero, footer and header bg colors */
.hero, footer, header {
  background: var(--color-dark);
}

/* set buttons, logo and h1 same font style */
.btn, .logo, h1 {
  color: var(--color-light);
  font-weight: 800;
}

/* btns */
.btn {
  border-radius: 10px;
  display: inline-block;
  padding: 0.5em 2em;
  text-align: center;
  width: fit-content;
}

.btn-primary {
  background: var(--color-accent);
  margin-top: 1em;
}

/* navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 14rem;
}

.logo {
  font-size: var(--fs-logo);
}

nav li a {
  color: var(--color-white);
  font-size: var(--fs-body);
  padding: 0 0.5em;
}

/* hero */
.hero {
  column-gap: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero img {
  grid-area: 1 / 2 / 4 / 3;
}

h1 {
  font-size: var(--fs-xl);
}

.hero p {
  color: var(--color-white);
  font-size: var(--fs-body);
}

/* info section */
h2 {
  color: var(--color-dark);
  font-size: var(--fs-h2);
  margin-bottom: 1em;
  text-align: center;
}

section ul {
  display: flex;
}

figure img {
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  margin: 0 auto;
}

figcaption {
  color: var(--color-dark);
  font-size: var(--fs-body);
  text-align: center;
}

/* quote section */
.section-quote {
  background: var(--color-white);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-quote p {
  font-size: var(--fs-h2);
  font-style: italic;
  font-weight: 300;
}

cite::before {
  content: "― ";
}

cite {
  display: block;
  font-size: var(--fs-logo);
  font-style: normal;
  font-weight: 700;
  text-align: right;
}

/* call-to-action section */
.cta {
  align-items: center;
  background: var(--color-accent);
  border-radius: 7px;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
}

.btn-cta {
  border: 2px solid var(--color-white);
  transition: 0.3s;
}

.btn-cta:hover {
  background: var(--color-white);
  color: var(--color-accent);
}

h3 {
  font-size: var(--fs-logo);
}

/* footer */
footer {
  color: var(--color-light);
  text-align: center;
  padding: 2em;
}
